<section id="about" class="about">
    <div class="container">
        <div class="section-title">
            <h2>About</h2>
            <p>Self-driven professional with proven strong technical and problem-solving skills. Experienced, productive, and a reliable teammate that can provide value in any environment.</p>
        </div>

        <div class="row">
            <div class="col-lg-2" data-aos="fade-right">
                <img src="./_content/InternetWideWorld.Shared/Images/img20170603.jpg" height="100" class="img-fluid" alt="Picture of George Leithead">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3>Software Engineer</h3>
                <p class="fst-italic">A proven Software Engineer, focusing on .NET, C#, .NET MAUI, Xamarin.Forms and associated technologies.</p>
                <div class="row">
                    <div class="col-lg-7">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span><a href="https://www.internetwideworld.com">www.internetwideworld.com</a></span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Blog:</strong> <span><a href="https://blog.internetwideworld.com">blog.internetwideworld.com</a></span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span><a href="mailto:webcontact@internetwideworld.com">webcontact@InternetWideWorld.com</a></span></li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Shirley, West Midlands, UK</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>University:</strong> <span>Heriot-Watt University</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>B.Sc. in Computing</span></li>
                        </ul>
                    </div>
                </div>
                <p>A proven Software Engineer within diverse professional organisations. Having excellent experience in development with a variety of programming languages, working with corporate leadership and clients, and steering projects while leading software development teams. Enjoys the challenges and successes that software engineering provides.</p>
                <div data-aos="fade-left">
                    <h4>Leadership and Management</h4>
                    <ul>
                        <li>Lead, motivate and develop individuals and teams helping to increased productivity and morale.</li>
                        <li>Conduct knowledge transfer, maximising individual performance and team efficiency.</li>
                        <li>Build a strategic approach within the team and develop plans in line with the overall business strategy.</li>
                    </ul>
                </div>
                <div data-aos="fade-left">
                    <h4>Operational</h4>
                    <ul>
                        <li>Build and sustain a proactive and customer focused development function with the emphasis on service delivery and a positive customer experience.</li>
                        <li>Review and examine the underlying business requirements, perceived service performance and future opportunities, be they business or industry specific.</li>
                        <li>Implement a responsive development function that captures and analyses information thus facilitating management reporting and highlighting areas for improvement.</li>
                        <li>Educate customer base to ensuring maximum value is realised from investment.</li>
                    </ul>
                </div>

                <div data-aos="fade-left">
                    <h4>Technical</h4>
                    <ul>
                        <li>Provide the customer with the appropriate tools, technical platforms, and interfaces to ensure maximum value is gained from assets and increase productivity from the customer base.</li>
                        <li>Perform full development project life cycle that meets corporate requirements and delivers required solutions.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>