<section class="hero d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
        <h1>George Leithead</h1>
        <p>I'm <span class="typed" data-typed-items=" a Software Engineer,a Mobile App Engineer, an aspiring Cloud Engineer, a keen kitesurfer"></span></p>
    </div>
</section>