<section id="interests" class="skills section-bg">
    <div class="container">
        <div class="section-title">
            <h2>Interests</h2>
        </div>
        <div class="row skills-content">
            <div class="col-sm-3" data-aos="fade-up">
                <div class="progress">
                    <span class="skill">Kitesurfing <i class="val"></i></span>
                </div>
            </div>
            <div class="col-sm-3" data-aos="fade-up">
                <div class="progress">
                    <span class="skill">Snowboarding <i class="val"></i></span>
                </div>
            </div>
            <div class="col-sm-3" data-aos="fade-up">
                <div class="progress">
                    <span class="skill">Gym/Working out <i class="val"></i></span>
                </div>
            </div>
            <div class="col-sm-3" data-aos="fade-up">
                <div class="progress">
                    <span class="skill">Golf <i class="val"></i></span>
                </div>
            </div>
            <div class="col-sm-3" data-aos="fade-up">
                <div class="progress">
                    <span class="skill">Walking <i class="val"></i></span>
                </div>
            </div>
            <div class="col-sm-3" data-aos="fade-up">
                <div class="progress">
                    <span class="skill">Playing 11/5-a-side football <i class="val"></i></span>
                </div>
            </div>
            <div class="col-sm-3" data-aos="fade-up" data-aos-delay="100">
                <div class="progress">
                    <span class="skill">Audiobooks <i class="val"></i></span>
                </div>
            </div>
            <div class="col-sm-3" data-aos="fade-up">
                <div class="progress">
                    <span class="skill">Cryptocurrency <i class="val"></i></span>
                </div>
            </div>
            <div class="col-sm-3" data-aos="fade-up">
                <div class="progress">
                    <span class="skill">Gadgets <i class="val"></i></span>
                </div>
            </div>
            <div class="col-sm-3" data-aos="fade-up">
                <div class="progress">
                    <span class="skill">Music <i class="val"></i></span>
                </div>
            </div>
            <div class="col-sm-3" data-aos="fade-up">
                <div class="progress">
                    <span class="skill">Sci-Fi Movies <i class="val"></i></span>
                </div>
            </div>
            <div class="col-sm-3" data-aos="fade-up">
                <div class="progress">
                    <span class="skill">Open-Source Software <i class="val"></i></span>
                </div>
            </div>
        </div>
    </div>
</section>