<section id="liloSource" class="portfolio section-bg">
    <div class="container">
        <div class="section-title">
            <h2>Platforms</h2>
            <p>The LiLo.Lite mobile application is currently available for these platforms:</p>
        </div>
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-6 col-md-6 col-sm-6 portfolio-item">
                <div class="portfolio-wrap">
                    <p>Android 5.0 and above.</p>
                    <img src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png" class="img-fluid" alt="Get it on Google Play" />
                    <div class="portfolio-links">
                        <a class="portfolio-lightbox" href="https://appcenter.ms"><img alt="Build Status" src="https://build.appcenter.ms/v0.1/apps/4a6daf54-3a40-41b5-b2b2-11f740b0b3c7/branches/master/badge" /></a>
                        <a href="https://play.google.com/store/apps/details?id=com.internetwideworld.lilo.lite&pcampaignid=iww" title="Get it on Google Play"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>