<section id="liloFeatures" class="resume">
	<div class="container">
		<div class="section-title">
			<h2>Features</h2>
		</div>
		<div class="row">
			<div class="col-lg-6" data-aos="fade-up">
				<h3 class="resume-title">Summary</h3>
				<div class="resume-item pb-0">
					<ul>
						<li>FREE to install and FREE from adverts.</li>
						<li>Access real-time market data from <a href="https://www.binance.com/">Binance</a>.</li>
						<li>Access real-time charting from <a href="https://uk.tradingview.com/">TradingView</a>.</li>
						<li>Price change highlighting.</li>
						<li>Currency 24hr price high, low and percentage changes.</li>
						<li>Custom charting options.</li>
						<li>Simple to use interface.</li>
						<li>Light and dark theme support.</li>
						<li>Only internet permissions needed.</li>
						<li>No personal information collected.</li>
						<li>Extremely low battery use (&lt;2% in a typical use day - battery use will vary with use!).</li>
						<li>Support for Android 5.0 (API level 21 - Lollipop) and above.</li>
						<li>Open source.</li>
					</ul>
				</div>
				<h3 class="resume-title">Technical</h3>
				<div class="resume-item">
					<h4>Libraries used</h4>
					<p>The application is written using Xamarin.Forms and integrates with the <a href="https://www.binance.com/">Binance</a> WebSockets services to provide live real-time market information, and using a WebView to display charting information from <a href="https://uk.tradingview.com/">TradingView</a>.</p>
					<ul>
						<li><a href="https://github.com/xamarin/Xamarin.Forms">Xamarin.Forms</a></li>
						<li><a href="https://github.com/xamarin/Essentials">Xamarin.Essentials</a></li>
						<li><a href="https://github.com/xamarin/XamarinCommunityToolkit">Xamarin.CommunityToolkit</a></li>
						<li><a href="https://github.com/Redth/ResizetizerNT">ResizetizerNT</a></li>
						<li><a href="https://github.com/PingmanTools/websocket-sharp/">WebSocket-sharp</a></li>
						<li><a href="https://github.com/dotnet/corefx">System.Text.Json</a></li>
						<li><a href="https://github.com/aritchie/userdialogs">Acr.UserDialogs</a></li>
						<li>Icons: <a href="https://github.com/spothq/cryptocurrency-icons">Spot</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
				<h3 class="resume-title">Market data</h3>
				<div class="resume-item">
					<p><em>Available market data for the following crypto currencies:</em></p>
					<ul>
						<li><img title="Bitcoin (BTC)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/btc.png" /> Bitcoin (BTC)</li>
						<li><img title="Etherium (ETH)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/eth.png" /> Etherium (ETH)</li>
						<li><img title="Binance Coin (BNB)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/bnb.png" /> Binance Coin (BNB)</li>
						<li><img title="Cardano (ADA)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/ada.png" /> Cardano (ADA)</li>
						<li><img title="Polkadot (DOT)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/dot.png" /> Polkadot (DOT)</li>
						<li><img title="Ripple (XRP)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/xrp.png" /> Ripple (XRP)</li>
						<li><img title="Litecoin (LTC)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/ltc.png" /> Litecoin (LTC)</li>
						<li><img title="Chainlink (LINK)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/link.png" /> Chainlink (LINK)</li>
						<li><img title="Bitcoin Cash (BCH)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/bch.png" /> Bitcoin Cash (BCH)</li>
						<li><img title="Stellar (XLM)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/xlm.png" /> Stellar (XLM)</li>
						<li><img title="Uniswap (UNI)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/uni.png" /> Uniswap (UNI)</li>
						<li><img title="Dogecoin (DOGE)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/doge.png" /> Dogecoin  (DOGE)</li>
						<li><img title="NEM (XEM)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/xem.png" /> NEM (XEM)</li>
						<li><img title="Cosmos (ATOM)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/atom.png" /> Cosmos (ATOM)</li>
						<li><img title="(AAVE)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/aave.png" /> (AAVE)</li>
						<li><img title="Solana (SOL)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/sol.png" /> Solana (SOL)</li>
						<li><img title="Monero (XMR)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/xmr.png" /> Monero (XMR)</li>
						<li><img title="(EOS)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/eos.png" /> (EOS)</li>
						<li><img title="Tron (TRX)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/trx.png" /> Tron (TRX)</li>
						<li><img title="MIOTA (IOTA)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/iota.png" /> MIOTA (IOTA)</li>
						<li><img title="Theta Network (THETA)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/theta.png" /> Theta Network (THETA)</li>
						<li><img title="(NEO)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/neo.png" /> (NEO)</li>
						<li><img title="Tezos (XTZ)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/xtz.png" /> Tezos (XTZ)</li>
						<li><img title="Terra (LUNA)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/luna.png" /> Terra (LUNA)</li>
						<li><img title="VeChain (VET)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/vet.png" /> VeChain (VET)</li>
						<li><img title="FTX Token (FTT)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/ftt.png" /> FTX Token (FTT)</li>
						<li><img title="(DASH)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/dash.png" /> (DASH)</li>
						<li><img title="The Graph (GRT)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/grt.png" /> The Graph (GRT)</li>
						<li><img title="Avalanche (AVAX)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/avax.png" /> Avalanche (AVAX)</li>
						<li><img title="Binance USD (BUSD)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/busd.png" /> Binance USD (BUSD)</li>
						<li><img title="Kasuma (KSM)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/ksm.png" /> Kasuma (KSM)</li>
						<li><img title="Maker (MKR)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/mkr.png" /> Maker (MKR)</li>
						<li><img title="Elrond (EGLD)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/egld.png" /> Elrond (EGLD)</li>
						<li><img title="FileCoin (FIL)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/fil.png" /> FileCoin (FIL)</li>
						<li><img title="Fantom (FTM)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/ftm.png" /> Fantom (FTM)</li>
						<li><img title="Compound (COMP)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/comp.png" /> Compound (COMP)</li>
						<li><img title="PancakeSwap (CAKE)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/cake.png" /> PancakeSwap (CAKE)</li>
						<li><img title="ZCash (ZEC)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/zec.png" /> ZCash (ZEC)</li>
						<li><img title="Etherium Classic (ETC)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/etc.png" /> Etherium Classic (ETC)</li>
						<li><img title="THORChain (RUNE)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/rune.png" /> THORChain (RUNE)</li>
						<li><img title="(NEAR)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/near.png" /> (NEAR)</li>
						<li><img title="(WAVES)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/waves.png" /> (WAVES)</li>
						<li><img title="Stacks (STX)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/stx.png" /> Stacks (STX)</li>
						<li><img title="Hadera Hashgraph (HBAR)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/hbar.png" /> Hadera Hashgraph (HBAR)</li>
						<li><img title="Polygon (MATIC)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/matic.png" /> Polygon (MATIC)</li>
						<li><img title="Algorand (ALGO)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/algo.png" /> Algorand (ALGO)</li>
						<li><img title="Basic Attention Token (BAT)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/bat.png" /> Basic Attention Token (BAT)</li>
						<li><img title="Loopring (LRC)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/lrc.png" /> Loopring (LRC)</li>
						<li><img title="(QTUM)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/qtum.png" /> (QTUM)</li>
						<li><img title="Holo (HOT)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/hot.png" /> Holo (HOT)</li>
						<li><img title="Enjin Coin (ENJ)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/enj.png" /> Enjin Coin (ENJ)</li>
						<li><img title="Curve DAO Token (CRV)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/crv.png" /> Curve DAO Token (CRV)</li>
						<li><img title="Shiba Inu (SHIB)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/shib.png" /> Shiba Inu (SHIB)</li>
						<li><img title="Axie Infinity (AXS)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/axs.png" /> Axie Infinity (AXS)</li>
						<li><img title="Internet Computer (ICP)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/icp.png" /> Internet Computer (ICP)</li>
						<li><img title="The Sandbox (SAND)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/sand.png" /> The Sandbox (SAND)</li>
						<li><img title="Decentraland (MANA)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/mana.png" /> Decentraland (MANA)</li>
						<li><img title="Helium (HNT)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/hnt.png" /> Helium (HNT)</li>
						<li><img title="(FLOW)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/flow.png" /> (FLOW)</li>
						<li><img title="Klaytn (KLAY)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/klay.png" /> Klaytn (KLAY)</li>
						<li><img title="Harmony (ONE)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/one.png" /> Harmony (ONE)</li>
						<li><img title="Arweave (AR)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/ar.png" /> Arweave (AR)</li>
						<li><img title="(AMP)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/amp.png" /> (AMP)</li>
						<li><img title="eCash (XEC)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/xec.png" /> eCash (XEC)</li>
						<li><img title="Quant (QNT)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/qnt.png" /> Quant (QNT)</li>
						<li><img title="Theta Fuel (TFUEL)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/tfuel.png" /> Theta Fuel (TFUEL)</li>
						<li><img title="(CELO)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/celo.png" /> (CELO)</li>
						<li><img title="IoTeX (IOTX)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/iotx.png" /> IoTeX (IOTX)</li>
						<li><img title="Bancor Network Token (BNT)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/bnt.png" /> Bancor Network Token (BNT)</li>
						<li><img title="Decred (DCR)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/dcr.png" /> Decred (DCR)</li>
						<li><img title="DigiByte (DGB)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/dgb.png" /> DigiByte (DGB)</li>
						<li><img title="ICON (ICX)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/icx.png" /> ICON (ICX)</li>
						<li><img title="(IOST)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/iost.png" /> (IOST)</li>
						<li><img title="Kyber Network Crystal (KNC)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/knc.png" /> Kyber Network Crystal (KNC)</li>
						<li><img title="OMG Network (OMG)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/omg.png" /> OMG Network (OMG)</li>
						<li><img title="Ontology (ONT)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/ont.png" /> Ontology (ONT)</li>
						<li><img title="(REN)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/ren.png" /> (REN)</li>
						<li><img title="Ravencoin (RVN)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/rvn.png" /> Ravencoin (RVN)</li>
						<li><img title="Siacoin (SC)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/sc.png" /> Siacoin (SC)</li>
						<li><img title="Synthetix Network Token (SNX)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/snx.png" /> Synthetix Network Token (SNX)</li>
						<li><img title="(SUSHI)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/sushi.png" /> (SUSHI)</li>
						<li><img title="(SXP)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/sxp.png" /> (SXP)</li>
						<li><img title="(UMA)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/uma.png" /> (UMA)</li>
						<li><img title="yearn.finance (YFI)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/yfi.png" /> yearn.finance (YFI)</li>
						<li><img title="Horizen (ZEN)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/zen.png" /> Horizen (ZEN)</li>
						<li><img title="Zilliqa (ZIL)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/zil.png" /> Zilliqa (ZIL)</li>
						<li><img title="0x (ZRX)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/zrx.png" /> 0x (ZRX)</li>
						<li><img title="TrueUSD (TUSD)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/tusd.png" /> TrueUSD (TUSD)</li>
						<li><img title="Gnosis (GNO)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/gno.png" /> Gnosis (GNO)</li>
						<li><img title="Livepeer (LPT)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/lpt.png" /> Livepeer (LPT)</li>
						<li><img title="(ANKR)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/ankr.png" /> (ANKR)</li>
						<li><img title="Bitcoin Gold (BTG)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/btg.png" /> Bitcoin Gold (BTG)</li>
						<li><img title="Syscoin (SYS)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/sys.png" /> Syscoin (SYS)</li>
						<li><img title="SKALE (SKL)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/skl.png" /> SKALE (SKL)</li>
						<li><img title="Polymath (POLY)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/poly.png" /> Polymath (POLY)</li>
						<li><img title="PAX Gold (PAXG)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/paxg.png" /> PAX Gold (PAXG)</li>
						<li><img title="(FLUX)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/flux.png" /> (FLUX)</li>
						<li><img title="(DENT)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/dent.png" /> (DENT)</li>
						<li><img title="Lisk (LSK)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/lsk.png" /> Lisk (LSK)</li>
						<li><img title="Power Ledger (POWR)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/powr.png" /> Power Ledger (POWR)</li>
						<li><img title="(GALA)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/gala.png" /> (GALA)</li>
						<li><img title="Frax Share (FXS)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/fxs.png" /> Frax Share (FXS)</li>
						<li><img title="Convex Finance (CVX)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/cvx.png" /> Convex Finance (CVX)</li>
						<li><img title="Oasis Network (ROSE)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/rose.png" /> Oasis Network (ROSE)</li>
						<li><img title="Secret (SCRT)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/scrt.png" /> Secret (SCRT)</li>
						<li><img title="Pax Dollar (USDP)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/usdp.png" /> Pax Dollar (USDP)</li>
						<li><img title="Smooth Love Potion (SLP)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/slp.png" /> Smooth Love Potion (SLP)</li>
						<li><img title="Mina Protocol (MINA)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/mina.png" /> Mina Protocol (MINA)</li>
						<li><img title="(1INCH)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/1inch.png" /> (1INCH)</li>
						<li><img title="WAX (WAXP)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/waxp.png" /> WAX (WAXP)</li>
						<li><img title="Chiliz (CHZ)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/chz.png" /> Chiliz (CHZ)</li>
						<li><img title="Audius (AUDIO)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/audio.png" /> Audius (AUDIO)</li>
						<li><img title="(KAVA)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/kava.png" /> (KAVA)</li>
						<li><img title="Immutable X (IMX)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/imx.png" /> Immutable X (IMX)</li>
						<li><img title="Nervos Network (CKB)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/ckb.png" /> Nervos Network (CKB)</li>
						<li><img title="(HIVE)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/hive.png" /> (HIVE)</li>
						<li><img title="Anyswap (ANY)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/any.png" /> Anyswap (ANY)</li>
						<li><img title="JUST (JST)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/jst.png" /> JUST (JST)</li>
						<li><img title="Etherium Name Service (ENS)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/ens.png" /> Etherium Name Service (ENS)</li>
						<li><img title="Coin98 (C98)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/c98.png" /> Coin98 (C98)</li>
						<li><img title="Biswap (BSW)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/bsw.png" /> Biswap (BSW)</li>
						<li><img title="Fetch.ai (FET)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/fet.png" /> Fetch.ai (FET)</li>
						<li><img title="Injective (INJ)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/inj.png" /> Injective (INJ)</li>
						<li><img title="Kadena (KDA)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/kda.png" /> Kadena (KDA)</li>
						<li><img title="Origin Protocol (OGN)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/ogn.png" /> Origin Protocol (OGN)</li>
						<li><img title="Serum (SRM)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/srm.png" /> Serum (SRM)</li>
						<li><img title="Tribe (TRIBE)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/tribe.png" /> Tribe (TRIBE)</li>
						<li><img title="Nano (XNO)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/xno.png" /> Nano (XNO)</li>
						<li><img title="ApeCoin (APE)" width="16" src="./_content/InternetWideWorld.Shared//Images/Droid/drawable-xxxhdpi/ape.png" /> ApeCoin (APE)</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
