<section id="liloportfolio" class="portfolio section-bg">
    <div class="container">
        <div class="section-title">
            <h2>Screenshots</h2>
            <p>Here are some of the latest screenshots from the LiLo.Lite app for Android.</p>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-splash">Splash</li>
                    <li data-filter=".filter-lighttheme">Light Theme</li>
                    <li data-filter=".filter-darktheme">Dark Theme</li>
                    <li data-filter=".filter-tablet">Tablet</li>
                </ul>
            </div>
        </div>
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-2 col-md-3 portfolio-item filter-splash">
                <div class="portfolio-wrap">
                    <img src="./_content/InternetWideWorld.Shared/Images/Phone_SplashScreen.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="./_content/InternetWideWorld.Shared/Images/Phone_SplashScreen.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Splash Screen"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 portfolio-item filter-lighttheme">
                <div class="portfolio-wrap">
                    <img src="./_content/InternetWideWorld.Shared/Images/Phone_HomeLight.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="./_content/InternetWideWorld.Shared/Images/Phone_HomeLight.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Home Page - Light Theme"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 portfolio-item filter-darktheme">
                <div class="portfolio-wrap">
                    <img src="./_content/InternetWideWorld.Shared/Images/Phone_HomeDark.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="./_content/InternetWideWorld.Shared/Images/Phone_HomeDark.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Home Page - Dark Theme"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 portfolio-item filter-lighttheme">
                <div class="portfolio-wrap">
                    <img src="./_content/InternetWideWorld.Shared/Images/Phone_HomeLight_Favourites.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="./_content/InternetWideWorld.Shared/Images/Phone_HomeLight_Favourites.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Home page - Light theme - Favourites"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 portfolio-item filter-lighttheme">
                <div class="portfolio-wrap">
                    <img src="./_content/InternetWideWorld.Shared/Images/Phone_ChartLight.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="./_content/InternetWideWorld.Shared/Images/Phone_ChartLight.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Chart Page - Light Theme"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 portfolio-item filter-darktheme">
                <div class="portfolio-wrap">
                    <img src="./_content/InternetWideWorld.Shared/Images/Phone_ChartDark.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="./_content/InternetWideWorld.Shared/Images/Phone_ChartDark.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Chart Page - Dark Theme"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 portfolio-item filter-lighttheme">
                <div class="portfolio-wrap">
                    <img src="./_content/InternetWideWorld.Shared/Images/Phone_SettingsLight.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="./_content/InternetWideWorld.Shared/Images/Phone_SettingsLight.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Settings Page - Light Theme"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 portfolio-item filter-darktheme">
                <div class="portfolio-wrap">
                    <img src="./_content/InternetWideWorld.Shared/Images/Phone_SettingsDark.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="./_content/InternetWideWorld.Shared/Images/Phone_SettingsDark.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Settings Page - Dark Theme"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 portfolio-item filter-lighttheme">
                <div class="portfolio-wrap">
                    <img src="./_content/InternetWideWorld.Shared/Images/Phone_FavouritesLight.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="./_content/InternetWideWorld.Shared/Images/Phone_FavouritesLight.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Favourites Page - Light Theme"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 portfolio-item filter-tablet">
                <div class="portfolio-wrap">
                    <img src="./_content/InternetWideWorld.Shared/Images/Tablet7_HomeLight.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="./_content/InternetWideWorld.Shared/Images/Tablet7_HomeLight.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Home Page - Light Theme - Tablet 7in with Pie 9.0 - API 28"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 portfolio-item filter-tablet">
                <div class="portfolio-wrap">
                    <img src="./_content/InternetWideWorld.Shared/Images/Tablet10_HomeLight.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="./_content/InternetWideWorld.Shared/Images/Tablet10_HomeLight.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Favourites Page - Light Theme - Tablet 10.1in with Pie 9.0 - API 28"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>