<section id="portfolio" class="portfolio section-bg">
    <div class="container">
        <div class="section-title">
            <h2>Portfolio</h2>
            <p>Here are some of the latest projects and postings I have made.  For more, please check my <a href="https://www.linkedin.com/in/georgeleithead/" class="linkedin" target="_blank">LinkedIn <i class="bx bxl-linkedin"></i></a> and <a href="https://docs.microsoft.com/en-us/users/georgeleithead/achievements" class="microsoft" target="_blank">Microsoft Learn <i class="bx bxl-microsoft"></i></a> profiles.</p>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-app">Apps</li>
                    <li data-filter=".filter-oss">Open Source</li>
                </ul>
            </div>
        </div>
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="./_content/InternetWideWorld.Shared/Images/LiLo.LitePresentation.png" class="img-fluid" alt="LiLo.Lite app icon" longdesc="LiLo.Lite is an information only real-time cryptocurrency (crypto) price and charting application. It provides a quick and effortless way to watch the top crypto currency information with charting. Extremely low battery usage making crypto information available right at your fingertips." />
                    <div class="portfolio-links">
                        <a href="./_content/InternetWideWorld.Shared/Images/LiLo.LitePresentation.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="LiLo.Lite"><i class="bx bx-plus"></i></a>
                        <a href="/LiLoLite" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-oss">
                <div class="portfolio-wrap">
                    <img src="./_content/InternetWideWorld.Shared/Images/oss_MCT_01.jpg" class="img-fluid" alt="Microsoft Open-Source Software - MAUI Community Toolkit" />
                    <div class="portfolio-links">
                        <a href="./_content/InternetWideWorld.Shared/Images/oss_MCT_01.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=".NET MAUI Community Toolkit"><i class="bx bx-plus"></i></a>
                        <a href="https://github.com/CommunityToolkit/Maui/" title="More Details on GitHub"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="./_content/InternetWideWorld.Shared/Images/ADB2CROPCXamarinFormsPresentation.png" class="img-fluid" alt="GitHub repository for ADB2CROPCXamarinForms" longdesc="I have created a public GitHub repository for a sample Xamarin Forms app highlighting how to use MSAL with a ROPC (Resource Owner Password Credentials) flow, to authenticate users via Azure Active Directory B2C, and access an DOTNET CORE Web API with the resulting token.  It includes extensive documentation of creating an Azure AD B2C tenant, user flow policies, scripts for Azure AD B2C app registration and configuration and scripts to import users." />
                    <div class="portfolio-links">
                        <a href="./_content/InternetWideWorld.Shared/Images/ADB2CROPCXamarinFormsPresentation.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Azure AD B2C ROPC Xamarin.Forms app"><i class="bx bx-plus"></i></a>
                        <a href="https://github.com/GeorgeLeithead/ADB2CROPCXamarinForms" title="More Details on GitHub"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="./_content/InternetWideWorld.Shared/Images/XamarinChatPresentation.png" class="img-fluid" alt="GitHub repository for XamarinSignalRChat" longdesc="I recently published a public GitHub repository that shows how to create a SignalR and Xamarin.Forms chat application. It includes local debugging and running, console and Xamarin.Forms mobile apps. The Xamarin.Forms app highlights the use of material Design, CollectionView, Dependency Injection, MVVM, extended controls, template selectors, use of custom fonts, all within the new Shell container." />
                    <div class="portfolio-links">
                        <a href="./_content/InternetWideWorld.Shared/Images/XamarinChatPresentation.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Xamarin.Forms SignalR Chat app"><i class="bx bx-plus"></i></a>
                        <a href="https://github.com/GeorgeLeithead/XamarinSignalRChat" title="More Details on GitHub"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>