<section id="resume" class="resume">
    <div class="container">
        <div class="section-title">
            <h2>Resume</h2>
        </div>
        <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
                <h3 class="resume-title">Summary</h3>
                <div class="resume-item pb-0">
                    <h4>George Leithead</h4>
                    <p><em>Innovative and deadline-driven Software Engineer with 20+ years of experience designing and developing software following best practices for reliable, efficient, and cost-effective software.</em></p>
                    <ul>
                        <li><a href="mailto:webcontact@internetwideworld.com">webcontact@internetwideworld.com</a></li>
                    </ul>
                </div>
                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Bachelor of Science (B.Sc.) Manufacturing in Computing</h4>
                    <h5>1992-1994</h5>
                    <p><em>Heriot-Watt University, Borders Campus</em></p>
                </div>
                <div class="resume-item">
                    <h4>Higher National Diploma (HND) in Computing</h4>
                    <h5>1990-1992</h5>
                    <p><em>Heriot-Watt University, Borders Campus</em></p>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Contributor</h4>
                    <h5>Jun 2022 - Present</h5>
                    <p><em>Microsoft OSS .NET MAUI Community Toolkit</em></p>
                    <ul>
                        <li>An active contributor to the Microsoft Open Source-Software (OSS) <a href="https://github.com/CommunityToolkit/Maui/">.NET MAUI Community Toolkit</a>.</li>
                        <li>Volunteering free time and developer resources in contributing with resolving issues and developing new features.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Xamarin.Forms/.NET MAUI Software Engineer - Freelance</h4>
                    <h5>Feb 2020 - Present</h5>
                    <p><em>Leithead Internet Consultancy Services Ltd</em> - West Midlands, UK</p>
                    <ul>
                        <li>Solely responsible for the solution architecture, development, testing, and DevOps, of a Xamarin.Forms mobile application which supplies real-time cryptocurrency price monitoring and charting.</li>
                        <li>Experienced with Xamarin.Forms, .net MAUI, C#, .NET Core, MVVM, WebSockets, RESTful API, Dependency Injection, Entity Framework (EF), Git/GitHub, Azure CI/CD, SQL, XAML, PowerShell, JavaScript, HTML5, Azure DevOps, Azure AD/B2C, Microservices and Docker.</li>
                        <li>Automated DevOps for CI/CD and application publishing to app stores.</li>
                        <li>Produced a number of prototype cross-platform applications that customised and integrated with Azure B2C, OAuth, MSAL, .NET Core, Web API, JSON, and SharePoint Online.</li>
                        <li>Respond to technical issues in a professional and timely manner both in-person and via phone/email.</li>
                        <li>Sole developer of the Xamarin.Forms mobile app for cryptocurrency price monitoring, See <a href="https://play.google.com/store/apps/details?id=com.internetwideworld.lilo.lite">LiLo.Lite</a>.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Implementation Automation Consultant - Contract</h4>
                    <h5>Oct 2018 - Dec 2019</h5>
                    <p><em>Sainsbury's</em> - Coventry, UK</p>
                    <ul>
                        <li>Working in a small team, I was solely responsible for the solution architecture, development, testing, and deployment of an in-store colleague self-service web-based application, which enabled colleagues to resolve common checkout issues without having to call the support desk.</li>
                        <li>Implemented services and applications using ReactJS, C#.NET, Web API, PowerShell, JavaScript, HTML, CSS, Azure AD, Single Sign-On (SSO), Microsoft Graph, and more.</li>
                        <li>Solely responsible for the solution architecture and development of a Web API service hosted on in-store checkouts that provided a modern and secure method of interfacing with the checkout and retail store. Implemented using C#.NET Core, providing JWT authentication and authorization supplying custom API end points.</li>
                        <li>Solely responsible for the software architecture and development of a collection of custom C#.NET Core Windows Services that coordinated the automatic upgrading of in-store checkouts, which followed complex rules and regulations, automatic up-reporting, self-management, and integration with SCCM/InTune to start upgrades.</li>
                    </ul>
                    <h4>Automation SME - Contract</h4>
                    <h5>Aug 2014 - Oct 2018</h5>
                    <p><em>Sainsbury's</em> - Coventry, UK</p>
                    <ul>
                        <li>Working in a small team I was solely responsible for the solution architecture and platform implementation of toolsets to automate the re-platforming of the entire Sainsbury’s EPOS estate and associated infrastructure across 1,600 locations and 26,000 devices within the UK and was one of the largest retail re-platforming programmes in Europe.</li>
                        <li>Collaborating with a small team, I was solely responsible for the implementation of a C#.NET Web API back end that integrated with SCCM/InTune, PowerShell, VMWare, AD, DNS, PsExec, WMI, and others to automate the re-platforming.</li>
                        <li>Responsible for the custom implementation of a SharePoint 2010 UX/UI for the management of task lead operation that automated the EPOS migration, by implementing custom event receivers, timer jobs, web parts, workflows, automated emails, scheduling, and integration to the Web API back end. This resulted in over 11 million tasks being automated.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>SharePoint Developer - Contract</h4>
                    <h5>Jan 2013 - Dec 2013</h5>
                    <p><em>CapGemini</em> - Birmingham, UK</p>
                    <ul>
                        <li>Lead SharePoint developer and an agile scrum team leader for a greenfield enterprise level application development for a UK government public sector organization.</li>
                        <li>Designed and developed SharePoint 2010 solutions, responsible for developing base classes, service layers, Web-parts, features, event receivers, timer jobs, CMS, and branding.</li>
                        <li>Experienced with C# .NET, HTML, JavaScript, SQL and supporting PowerShell scripts to automate custom deployments.</li>
                        <li>Enforced cross team code standards through code reviews, conventions, quality, accessibility, and documentation.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Windows 8 (Metro) Developer - Contract</h4>
                    <h5>Sep 2012 - Dec 2012</h5>
                    <p><em>Next Group PLC</em> - Leicester, UK</p>
                    <ul>
                        <li>With one other developer, we were implemented a customer facing, touch based in-store kiosk and ordering system.</li>
                        <li>Delivered by creating a Windows 8 (Metro) application, using JavaScript, HTML5 and CSS3.</li>
                        <li>Designed and implementing Web API services in C# .NET, consumed by the kiosk app via Win RT/XHR.</li>
                        <li>Implemented a highly customized Google Analytics service within the kiosk app.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>SharePoint Consultant - Freelance</h4>
                    <h5>Aug 2012 - Aug 2012</h5>
                    <p><em>IG Index</em> - London, UK</p>
                    <ul>
                        <li>Responsible for a rapid prototype of a SharePoint 2010 application, to prove the application of company branding and the ability to use features available to meet projected requirements.</li>
                        <li>Supplied guidance on what was achievable, best practices, documentation, and step-by-step implementation guides specifically around libraries and enhanced search features.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>.NET/SharePoint 2010 Developer - Contract</h4>
                    <h5>Oct 2011 - Mar 2012</h5>
                    <p><em>Trinity Expert Systems</em> - Coventry, UK</p>
                    <ul>
                        <li>Responsible for the development of Web Parts, UI customisations, Look and Feel, using C# .NET, HTML5, JavaScript and SQL, for a public-facing internet web site on SharePoint 2010 for a government-funded organization.</li>
                        <li>Lead a small team of technical authors in support of the client, to author and publish content to the platform, ensuring that all content met technical, accessibility, SEO, and business requirements.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>SharePoint SME - Contract</h4>
                    <h5>Aug 2009 - Dec 2012</h5>
                    <p><em>CapGemini</em> - Birmingham, UK</p>
                    <ul>
                        <li>Responsible for the writing SharePoint 2007 farm build and configuration documentation, which was then account and client standard for SharePoint 2007.</li>
                        <li>Responsible for technical support to an agile development team for SharePoint 2007, C#.NET, SQL, HTML, JavaScript, and other technologies.</li>
                        <li>Responsible for search deployment and configuration for a large farm. Ensured standards compliance for HTML, JavaScript, CSS, and content management, and supplying technical support and guidance to the client for service handover.</li>
                    </ul>
                    <h4>SharePoint Developer - Contract</h4>
                    <h5>Aug 2006 - Dec 2008</h5>
                    <p><em>CapGemini</em> - Birmingham, UK</p>
                    <ul>
                        <li>Responsible for the architecture, design, and development of web-based applications for clients in the government sector (<a href="https://webarchive.nationalarchives.gov.uk/ukgwa/20081205191758/http:/www.lsc.gov.uk/">Learning Skills Council</a>).</li>
                        <li>Solely responsible for implemented a self-managed content management system that delivered multi-site (50+) web sites (e.g., <a href="https://webarchive.nationalarchives.gov.uk/ukgwa/20081105180020/http:/www.traintogain.gov.uk/">Train to Gain</a>), by customising Microsoft Content Management Server 2002 (MCMS) using C#.NET, HTML, CSS, and JavaScript.</li>
                        <li>Responsible for maintaining DNS and batch scripts to automate deployments.</li>
                        <li>Respond to technical issues in a professional and timely manner both in-person and via phone/email.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>RAD Manager - Permanent</h4>
                    <h5>Dec 2002 - Jan 2006</h5>
                    <p><em>Davis Langdon</em> - Birmingham, UK</p>
                    <ul>
                        <li>Lead a medium sized team of developers and designers, where I supplied personal mentoring, motivational and career advancement guidance.</li>
                        <li>Introduced .NET and C# as the development platform of choice in for the IT function and arranged MCAD training.</li>
                        <li>Further responsible for the software architecture and development of a user self-managed corporate intranet by customising Content Management Server 2002 (MCMS), C#.NET, HTML and JavaScript.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Senior Developer - Full-time</h4>
                    <h5>May 2001 - Dec 2002</h5>
                    <p><em>Citex/Carillion</em> - London, UK</p>
                    <ul>
                        <li>Responsible for software development of the corporate intranet using ASP.NET, HTML, CSS, JavaScript and scripting build and deployment.</li>
                        <li>Responsible for the support and maintenance for the integration of Citex services into the Carillion network after acquisition.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Enterprise Architect - Freelance</h4>
                    <h5>Sep 2000 - Mar 2001</h5>
                    <p><em>LinnCo PPL</em> - New Jersey, USA</p>
                    <ul>
                        <li>Responsible for the analysis of business requirements and enhancement the implementation of the ASP.NET web application for the Citibank asset register. (See Feb 2000 – Sep 2000).</li>
                        <li>Solely developed a management and reporting system for said asset register using ASP.NET, HTML, JavaScript, and CSS, and automating deployments via scripts.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Lead Developer - Contract</h4>
                    <h5>Feb 2000 - Sep 2000</h5>
                    <p><em>Citibank</em> - London, UK</p>
                    <ul>
                        <li>Solely responsible for the development of an ASP.NET, HTML, JavaScript, CSS, and SQL based asset register (hardware and software) for all Citibank computers and network equipment world-wide.</li>
                        <li>Developed bank approved level security, account management, concurrency, and authorisation of users for the web application.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Developer - Contract</h4>
                    <h5>Mar 1998 - Nov 1999</h5>
                    <p><em>Exchange FS</em> - Woking, UK</p>
                    <ul>
                        <li>Within a small team, responsible for developing prototypes of web-based applications to deliver financial quotations.</li>
                        <li>Developed the production web based financial quotations service utilising SQL, Site Server 3, LDAP, Exchange, API, Source Safe, ASP, transaction server, VBScript, and DHTML.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Head of Web Design - Full-time</h4>
                    <h5>Apr 1997 - Mar 1998</h5>
                    <p><em>eLogic Communications</em> - Los Angeles, CA, USA</p>
                    <ul>
                        <li>Developed custom web sites that supplied stock, shares and news feeds, stock portfolios, news trackers and email alerts to clients such as EIU, Ziff-Davis, PR NewsWire, Washington post, Stock master, Intuit, WebCrawler.</li>
                        <li>Responsible for the management of DNS and Exchange servers, developed used ASP.NET, ADO, and SQL.</li>
                        <li>Customised and integrated the Altavista search engine into web apps.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Programmer - Full-time</h4>
                    <h5>Apr 1996 - Mar 1997</h5>
                    <p><em>The Dialog Group</em> - London, UK</p>
                    <ul>
                        <li>Ensured HTML standards compliance and browser compatibility across all company web-based services.</li>
                        <li>Developed a number web services and customised client extranets, using VAX DCL and Fortran.</li>
                        <li>Solely responsible for the implementation of one of the first UK mobile WAP finance applications for the Nokia 9000 communicator.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>MIS Assistant - Full-time</h4>
                    <h5>Feb 1995 - Apr 1996</h5>
                    <p><em>Heriot-Watt University</em> - Borders Campus, UK</p>
                    <ul>
                        <li>Solely implemented the campus’s first ever internet presence that supplied an online prospectus and alumni service, using HTML.</li>
                        <li>Developed management analysis reports for finance, student registration, clearing, student profiles, and applicant communications using Report Writer, PowerHouse, and VAX DCL.</li>
                        <li>Further responsible for mini-frame back-up, maintenance, and networks.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Please check my <a href="https://www.linkedin.com/in/georgeleithead/">Linkedin</a> for further details!</h4>
                </div>
            </div>
        </div>
    </div>
</section>